.header {
    background-color: white;
    border-bottom: 1px solid var(--color-border);
}

.inner {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    align-items: center;
    gap: 2rem;

    width: 100%;
    padding: 1rem 1rem;
}

.brand  {
    grid-column: 1;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-primary);
    text-decoration: none;
}

.breadcrumbList {
    grid-column: 2;
    display: flex;
    gap: 0.5rem;

    margin: 0;
    padding: 0;
    color: var(--color-text-light);
    list-style: none;

}

.breadcrumbList a {
    color: var(--color-text-light);
}

.breadcrumbList a:hover {
    color: var(--color-primary);
}

.cart {
    grid-column: -1;
    padding: 0.4rem 0.75rem;

    color: var(--color-primary);
    white-space: nowrap;

    background-color: #eff4ff;
    border-radius: 999px;
}

@media (max-width: 640px) {
    .inner {
        grid-template-columns: 1fr auto;
        gap: 0.5rem 1rem;
    }

    .breadcrumb {
        grid-column: 1 / -1;
        grid-row: 2;
    }
}