:root {
  font-family:
    system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
  padding: 2rem;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  background-color: #ffffff;
}

body {
  min-width: 320px;
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

button,
input,
select,
a {
  font: inherit
}

img {
  display: block;
  max-width: 100%;
}
