:root {
  font-family:
    system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color: #1f2937; */
  background-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  background-color: #ffffff;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

button,
input,
select,
a {
  font: inherit
}

img {
  display: block;
  max-width: 100%;
}
